.el-header, .el-footer {
    background-color: #ffffff;
    color: #333;
    text-align: center;
    line-height: 60px;
}

.el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    /*line-height: 200px;*/
    height: 665px;
    align-items: center;
    display: flex !important;
    justify-content: center;
    flex-direction: column;
}

.userImage {
    align-items: center;
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    /*background-color: #c9d2ee;*/
    margin-bottom: 20px;
}

.userimg {
    width: 170px;
    height: 170px;
}

.someButton {
    width: 300px;
    height: 390px;
    /*background-color: #d0eec9;*/
}
.someButton .btn{
    height: 67px;
}

.btn {
    width: 280px;
    height: 70px;
    margin-bottom: 10px;
}

.el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    /*line-height: 160px;*/
    line-height: 30px;
    align-items: center;
    display: flex !important;
    justify-content: center;
    flex-direction: column;
}

body > .el-container {
    margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
    line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
    line-height: 320px;
}

.goodsview{
    background-color: #e0e0e0;
    height: 398px;
}
.goodsImage{
    /*background-color: #57b846;*/
}
.btom{
    /*background-color: #9646b8;*/
}

.MyGoodsInfoIsShow{
    display: flex;
    width: 90%;
}
.MyGoodsInfoIsShow li{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    line-height: 33px;
}
.clear:after{

    content: "";

    display: block;

    clear: both;

}



.card-text {
    font-size: 24px;
}

.card-item {
    margin-bottom: 18px;
}
.card-item .el-tag{
    font-size: 17px;
}

.card-clearfix:before,
.card-clearfix:after {
    display: table;
    content: "";
}
.card-clearfix:after {
    clear: both
}

.box-card {
    width: 480px;
    line-height: 40px;
}


.outdialog{
    line-height: 20px;
}

.el-divider--horizontal {
    width: 900px;
}