<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="./css/account.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/base.css">
    <title>个人页面</title>
</head>
<body>
<div id="accountapp">
    <el-container>
        <el-header style="position: fixed;width: 100%">
            <!--            头部-->
            <el-menu class="el-menu-demo" mode="horizontal" :default-active="activeIndex">
                <el-menu-item index="4" style="float: right"><a href="account.html" target="_blank"><i
                        class="el-icon-user"></i>个人页面</a></el-menu-item>
                <el-menu-item index="3" style="float: right"><i class="el-icon-shopping-cart-full"></i>我的收藏
                </el-menu-item>
                <el-menu-item index="2" style="float: right"><i class="el-icon-chat-square"></i>我的消息</el-menu-item>
                <el-menu-item index="1" style="float: right"><a href="main.html" target="_blank"><i
                        class="el-icon-sunset"></i>拍卖主页</a></el-menu-item>
            </el-menu>
        </el-header>

        <!--        头部以下-->
        <el-container style="margin-top: 60px">
            <el-aside width="400px">
                <div class="userImage">
                    <img class="userimg" src="img/touxiang.jpg" alt="">
                    <el-tag type="success" style="width: 80px;margin-bottom: 5px;margin-top: 5px">
                        {{user.name}}
                    </el-tag>
                    <el-tag type="success" style="width: 103px">￥{{user.money}}</el-tag>

                </div>
                <div class="someButton">
                    <el-button class="btn" style="margin-left: 10px" @click="setTheShow(1)">用户信息
                    </el-button>
                    <el-button class="btn" @click="setTheShow(3)">注册商品</el-button>
                    <el-button class="btn" @click="setTheShow(2)">我的商品</el-button>
                    <el-button class="btn" @click="setTheShow(4)">拍卖管理</el-button>
                    <el-button class="btn" @click="dialogVisible=true">退出登录</el-button>
                </div>
            </el-aside>
            <el-container>
                <el-main class="right">
                    <!--                    个人信息界面-->
                    <div style="width: 80%;height: 70%" v-if="userInfoIsShow">
                        <el-card class="box-card">
                            <div slot="header" class="card-clearfix">
                                <span style="float: left">个人信息</span>
                                <el-button style="float: right; padding: 3px 0" type="text" @click="chooseDialogVisible = true">
                                    修改个人信息
                                </el-button>
                            </div>
                            <div class="card-text card-item"><el-tag type="info">ID：{{user.id}}</el-tag></div>
                            <div class="card-text card-item"><el-tag type="info">电话号码：{{user.phone_number}}</el-tag></div>
                            <div class="card-text card-item"><el-tag type="info">昵称：{{user.name}}</el-tag></div>
                            <div class="card-text card-item"><el-tag type="info">账户余额：{{user.money}}</el-tag></div>
                        </el-card>
                    </div>

                    <!--                    //修改个人信息弹出框-->
                    <el-dialog title="请选择操作" :visible.sync="chooseDialogVisible" width="30%">
                        <span>
                            <el-button type="text" @click="changeName" style="margin-right: 30px">修改昵称</el-button>
                            <el-button type="text" @click="changePassword">修改密码</el-button>
                        </span>
                        <span slot="footer" class="dialog-footer">
                            <el-button @click="chooseDialogVisible = false">取 消</el-button>
                        </span>
                    </el-dialog>


                    <!--                    我注册的商品界面-->
                    <div v-show="MyGoodsInfoIsShow" class="MyGoodsInfoIsShow accallgoods">

                        <!--                        注册的商品-->
                        <ul>
                            <li v-for="item in myGoodsList">
                                <div @click="goToTheGoodsInfo(item.id)">
                                    <img :src="item.image_url" alt="">
                                    <span class="gname">{{item.name}}</span>
                                    <h4 class="nowp">当前价 <span>￥{{item.max_prices}}</span></h4>
                                    <span class="minp">起拍价 <span>￥{{item.min_prices}}</span></span>
                                    <el-tag type="success" v-show="item.status==='正进行'">正进行</el-tag>
                                    <el-tag type="danger" v-show="item.status==='已结束'">已结束</el-tag>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div v-show="MyGoodsInfoIsShow">
                        <span>我注册的商品↑</span>
                        <el-divider></el-divider>
                        <span>我拍到的商品↓</span>
                    </div>
                    <!--                    我拍到的商品-->
                    <div v-show="MyGoodsInfoIsShow" class="MyGoodsInfoIsShow accallgoods">
                        <ul>
                            <li v-for="item in myOwnGoodsList">
                                <div @click="goToTheGoodsInfo(item.id)">
                                    <img :src="item.image_url" alt="">
                                    <span class="gname">{{item.name}}</span>
                                    <h4 class="nowp">当前价 <span>￥{{item.max_prices}}</span></h4>
                                    <span class="minp">起拍价 <span>￥{{item.min_prices}}</span></span>
                                    <el-tag type="success" v-show="item.status==='正进行'">正进行</el-tag>
                                    <el-tag type="danger" v-show="item.status==='已结束'">已结束</el-tag>
                                </div>
                            </li>
                        </ul>
                    </div>


                    <!--                    商品注册界面-->
                    <div style="width: 90%" v-show="GoodsReInfoIsShow">
                        <el-tag type="warning" style="font-size: 30px;width: 160px;height: 45px;
                        line-height: 45px;margin-bottom: 20px;font-family: 楷体"
                                size="medium">商品注册
                        </el-tag>
                        <el-form :model="goods" ref="goodsForm" label-width="150px">
                            <el-form-item label="商品名称："><el-input v-model="goods.name" style="width: 300px;float: left"></el-input></el-form-item>
                            <el-form-item label="商品描述："><el-input v-model="goods.description" style="width: 540px;float: left"></el-input></el-form-item>
                            <el-form-item label="售卖者名字："><el-input v-model="user.name" style="width: 100px;float: left"></el-input></el-form-item>
                            <el-form-item label="商品起拍价格："><el-input v-model="goods.min_prices" style="width: 100px;float: left"></el-input><label style="float: left">元</label></el-form-item>
                            <el-form-item label="商品买断价格："><el-input v-model="goods.buyout_prices" style="width: 100px;float: left"></el-input><label style="float: left">元</label></el-form-item>
                            <el-form-item label="商品拍卖结束时间：">
                                <div class="block" style="float: left">
                                    <el-date-picker v-model="goods.finished_at" type="datetime" placeholder="选择日期时间">
                                    </el-date-picker>
                                </div>
                            </el-form-item>
                            <el-form-item label="商品图片链接："><el-input v-model="goods.image_url" style="width: 540px;float: left"></el-input></el-form-item>
                            <el-form-item><el-button :plain="true" type="primary" @click="submitForm">立即注册</el-button><el-button @click="resetForm">重置</el-button></el-form-item>
                        </el-form>
                    </div>

                    <!--                    拍卖管理-->
                    <div v-show="myGoodsControl">
                        <p>我创建的拍卖</p>
                        <template>
                            <el-table :data="myGoodsList" stripe style="width: 100%" class="goodsTable">
                                <el-table-column prop="name" label="名字" width="80"></el-table-column>
                                <el-table-column prop="min_prices" label="起拍价格" width="90"></el-table-column>
                                <el-table-column prop="buyout_prices" label="买断价格" width="90"></el-table-column>
                                <el-table-column prop="max_prices" label="当前价格" width="100"></el-table-column>
                                <el-table-column prop="finished_at" label="结束时间" width="160"></el-table-column>
                                <el-table-column prop="status" label="状态" width="80"></el-table-column>
                                <el-table-column label="操作" width="180">
                                    <template slot-scope="scope">
                                        <el-button size="mini" @click="endTheAuction(scope.$index, scope.row)">结束拍卖</el-button>
                                        <el-button size="mini" type="success" @click="goToTheGoodsInfo2(scope.$index, scope.row)">详情</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </template>
                    </div>

                    <!--                    我参与的拍卖-->
                    <div v-show="myGoodsControl" style="margin-top: 40px">
                        <p>我参与的拍卖</p>
                        <template>
                            <el-table :data="myAuctionsObj" stripe style="width: 100%" class="goodsTable">
                                <el-table-column prop="goods_id" label="商品代号" width="200" style="margin-left: 40px"></el-table-column>
                                <el-table-column prop="buy_user_prices" label="我的竞价" width="190"></el-table-column>
                                <el-table-column prop="status" label="状态" width="190"></el-table-column>
                                <el-table-column label="操作" width="200">
                                    <template slot-scope="scope">
                                        <el-button size="mini" @click="cancelMyAuction(scope.$index, scope.row)">取消竞拍</el-button>
                                        <el-button size="mini" type="success" @click="GoTOGoodsInfo(scope.$index, scope.row)">详情</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </template>
                    </div>


                    <!--                    退出登录框弹出-->
                    <el-dialog title="提示" :visible.sync="dialogVisible" width="30%" class="outdialog">
                        <span>您确定退出吗？</span>
                        <span slot="footer" class="dialog-footer">
                        <el-button @click="dialogVisible=false">取 消</el-button>
                        <el-button type="primary" @click="outLogin">确 定</el-button></span>
                    </el-dialog>
                </el-main>
            </el-container>
        </el-container>
    </el-container>
</div>
<script src="js/account.js"></script>
</body>
</html>