<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="css/goodsinfo.css">
    <title>商品详情页面</title>
</head>
<body>
<div id="goodsInfoApp">
    <!--            头部-->
    <el-menu class="el-menu-demo" mode="horizontal">
        <el-menu-item index="4" style="float: right"><a href="account.html" target="_blank"><i class="el-icon-user"></i>个人页面</a></el-menu-item>
        <el-menu-item index="3" style="float: right"><i class="el-icon-shopping-cart-full"></i>我的收藏</el-menu-item>
        <el-menu-item index="2" style="float: right"><i class="el-icon-chat-square"></i>我的消息</el-menu-item>
        <el-menu-item index="1" style="float: right"><a href="main.html" target="_blank"><i class="el-icon-sunset"></i>拍卖主页</a></el-menu-item>
    </el-menu>

    <div class="search">
        <div class="search-top"><span>竞拍网</span></div>
        <div class="search-bottom">
            <ul>
                <li><a href="main.html">首页</a></li>
                <li><a href="main.html">法院</a></li>
                <li><a href="main.html">公告</a></li>
                <li><a href="main.html">预告</a></li>
                <li><a href="main.html">刑案</a></li>
                <li><a href="main.html">自行处置</a></li>
                <li><a href="main.html">破产</a></li>
                <li><a href="main.html">捡漏</a></li>
                <li><a href="main.html">精准获客</a></li>
                <el-input placeholder="标的物名字/地点" v-model="search" v-on:click.native="goToTheSearchPage" class="si"></el-input>

            </ul>
        </div>
    </div>


    <div class="info">
        <div class="top">
            <div class="left">
                <img :src="goods.image_url" alt="">
            </div>
            <div class="right">
                <h1>{{goods.name}}</h1>
                <h1><span class="span">距结束
                </span>{{time.d}}<span class="tt">天</span>
                    {{time.h}}<span class="tt">时</span>
                    {{time.m}}<span class="tt">分</span>
                    {{time.s}}<span class="tt">秒</span>
                </h1>
                <h1 class="prices">
                    <span class="span">当前价</span>
                    {{thisGoodsMaxPrices}}
<!--                    ￥ {{goods.max_prices}}-->
                    <span class="spanyuan">元</span>
                </h1>
                <h1 class="prices">
                    <span class="span">买断价</span>
                    ￥ {{goods.buyout_prices}}
                    <span class="spanyuan">元</span>
                </h1>
                <h1><span class="span">出价</span>
                    <el-input v-model="mybidprices" placeholder="请输入竞价"></el-input>
                </h1>
                <el-button type="danger" @click="dialogVisible = true" style="margin-bottom: 5px">我要竞价</el-button>
                <el-button type="danger" @click="dialogVisibleBuyout = true" v-if="canbid">我要买断</el-button>
                <el-tag type="success" v-show="isMyGoods" style="font-size: 15px;float: right">
                    我的商品
                </el-tag>
                <h2>
                    <el-tag type="info" v-show="!canbid" style="font-size: 26px;margin-left: 82px">
                        竞拍已经结束
                    </el-tag>
                </h2>
            </div>
        </div>

        <el-dialog
                title="确认信息"
                :visible.sync="dialogVisible"
                width="30%">
            <span>您确定参与竞价？？</span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="bidGoods">确 定</el-button>
            </span>
        </el-dialog>

        <el-dialog
                title="确认信息"
                :visible.sync="dialogVisibleBuyout"
                width="30%">
            <span>您确定买断该商品？？</span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisibleBuyout = false">取 消</el-button>
                <el-button type="primary" @click="buyoutTheGoods">确 定</el-button>
            </span>
        </el-dialog>


        <!--        <el-divider></el-divider>-->
        <div class="center">
            <el-row :gutter="12">
                <el-col :span="8">
                    <el-card shadow="hover">
                        <h4 style="margin-left: 20px">商品起拍价: <span class="gimin">￥{{goods.min_prices}} </span></h4>
                        <h4 style="margin-left: 20px">最低加价：<span class="gimj">￥1 </span></h4>
                        <h4 style="margin-left: 20px;margin-bottom: 20px">商品简介：{{goods.description}}</h4>
                    </el-card>
                </el-col>
            </el-row>
        </div>
        <div class="bottom">
            <el-table
                    :data="auctionsList"
                    :row-class-name="tableRowClassName"
                    style="width: 100%">
                <el-table-column
                        type="index"
                        label="序号"
                        width="180">
                </el-table-column>
                <el-table-column
                        property="buy_user_id"
                        label="参与者ID"
                        width="200">
                </el-table-column>
                <el-table-column
                        property="buy_user_prices"
                        label="竞价"
                        width="200">
                </el-table-column>
            </el-table>
        </div>
        <el-empty :image-size="200"></el-empty>
    </div>


</div>
<script src="js/goodsInfo.js"></script>
</body>
</html>